AddKeysToAgent yes
ServerAliveInterval 120


Host andreg
    HostName 35.243.205.141
    user andreg

Host directmail
    HostName qa.directmail2.com
    user directmail

Host cidm
    HostName ci.dm20.com
    user directmail

host jfly
    HostName clark.jflei.com
    LocalForward 8887 10.5.0.1:80
    LocalForward 8888 10.5.1.1:80
    user clark

host clark
    HostName clark
    user clark

Host csnades
    HostName csnades.com
    user james

Host cubecomps-wca
    HostName 52.43.124.237
    User ubuntu

Host cusa
    HostName cubingusa.com
    user ubuntu

Host fatboyxpc
    HostName fatboyxpc.com
    user fatboyxp

Host htpc
    HostName 192.168.2.90
    user james

Host matchdevs
    HostName dev.matchdevs.com
    user matchdevs

Host wcap
    HostName worldcubeassociation.org

Host wcas
    HostName staging.worldcubeassociation.org

Host wca*
    user cubing
