#AddKeysToAgent yes
ServerAliveInterval 120

Host do
    HostName api.fatboyxpc.com
    user james

Host csnades
    HostName csnades.com
    user james

Host cusa
    HostName cubingusa.com
    user ubuntu

Host cusaold
    HostName 54.149.170.248
    user ubuntu

Host dmsdev
    HostName 192.168.160.94
    user jlachance

Host fatboyxpc
    HostName fatboyxpc.com
    user fatboyxp

Host wcap
    HostName worldcubeassociation.org
    user cubing

Host wcas
    HostName staging.worldcubeassociation.org
    user cubing
